@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-secondary-200;
  }

  body {
    @apply bg-white text-secondary-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

